<div class="col-lg-8 offset-2 mt-5">
  <div class="jumbotron">
    <h1 class="h1 text-center">{{ title }}</h1>

    <img
      class="rounded pt-3 mx-auto d-block"
      src="../../assets/minerva.png"
      width="20%"
    />

    <h2 class="text-center pt-2">Bienvenido!</h2>

    <p>
      Calculaodr de Puntos de Caso de Uso, con capacidad para calcular el
      Esfuerzo Horas-Hombre necesarias para el desarrollo de un proyecto de
      programación o sistema informático.
    </p>
    <p>
      Creado por <b>Roberto Antonio Ortíz Acevedo - OA14002</b> de Quinto Año de Ingeniería de
      Sistemas Informáticos en la Facultad Multidisciplinaria Oriental de la
      Universidad de El Salvador, para la materia de Administración de Proyectos
      Informáticos.
    </p>
  </div>
</div>
