<div class="col-lg-8 offset-2 mt-5">

  <div class="jumbotron">

    <h1 class="h1 text-center">{{title}}</h1>

    <img class="rounded pt-3 mx-auto d-block" src="../../assets/minerva.png" width="20%">

    <h2 class="text-center pt-2">Bienvenido!</h2>

    <p>
      Sistema de Administración Gerencial, con capacidad para gestionar inventarios
      pedidos, y deudas.
      Creado por estudiantes de Quinto Año de Ingeniería de Sistemas Informáticos de la
      Facultad Multidisciplinaria Oriental en la Universidad de El Salvador, para la materia de
      Sistemas de Información Gerencial.
    </p>
  </div>

